.container{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.container-logo{
    padding-right: 5px;
    width: 40px;
    height: 40px;
    text-decoration: none !important;
}

.container-text{
    font-size: 1.2rem;
    color: white;
}